@charset "UTF-8";

.body_font {
    font-family: "ff-meta-serif-web-pro", Georgia, serif
}

.body_font_regular {
    font-family: "ff-meta-serif-web-pro", Georgia, serif;
    font-weight: 500
}

.body_font_regular_all_small_caps {
    font-family: "ff-meta-serif-web-pro", Georgia, serif;
    font-weight: 500;
    font-style: normal;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp"
}

.heading_font {
    font-family: "source-sans-pro", sans-serif
}

.heading_font_bold {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 700
}

.heading_font_light {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 300
}

.heading_font_regular {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400
}

body {
    font-family: "ff-meta-serif-web-pro", Georgia, serif;
    font-weight: 500;
    -moz-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
    -moz-font-feature-settings: "onum=1, pnum=1, kern=1, liga=1";
    -ms-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
    -o-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
    -webkit-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
    font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
    text-rendering: optimizeLegibility
}

h1 {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 700
}

header nav {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400
}

h2,
p.overview {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400
}

h3 {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 700;
    font-size: 18.5px
}

footer {
    font-family: "ff-meta-serif-web-pro", Georgia, serif;
    font-weight: 500
}

ol.publications .title span.bracket {
    position: relative;
    top: -0.3px
}

ol.publications li p.title {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 700;
    font-size: 18.5px
}

.no_margins,
header,
nav,
h1,
h2,
h3,
ol,
ul,
p,
img,
footer,
section,
article,
hr {
    margin: 0;
    padding: 0;
    border: 0
}

.full_column {
    width: auto;
    margin-left: 55px;
    margin-right: 55px;
    max-width: 770px
}

@media only screen and (min-width:760px) {
    .full_column {
        width: auto;
        margin-left: 265px
    }
}

@media only screen and (max-width:710px) {
    .full_column {
        width: auto;
        min-width: 202.66666667px;
        margin-left: 7.74647887%;
        margin-right: 7.74647887%
    }
}

.full_page {
    padding: 0 55px;
    position: relative
}

@media only screen and (max-width:710px) {
    .full_page {
        padding-left: 7.74647887%;
        padding-right: 7.74647887%
    }
}

.side_column {
    margin-left: 55px;
    margin-right: 55px
}

@media only screen and (min-width:760px) {
    .side_column {
        position: absolute;
        width: 160px
    }
}

@media only screen and (max-width:710px) {
    .side_column {
        width: auto;
        min-width: 202.66666667px;
        margin-left: 7.74647887%;
        margin-right: 7.74647887%
    }
}

@media only screen and (min-width:760px) {
    .right_column {
        position: static;
        margin-left: 350px;
        width: auto;
        min-width: 300px;
        max-width: 770px
    }
}

@media only screen and (max-width:710px) {
    .right_column {
        width: auto;
        min-width: 202.66666667px
    }
}

ul,
.ul {
    display: block;
    list-style-image: none;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0
}

ul li,
.ul li {
    list-style-image: none;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0
}

.inline_ul {
    display: block;
    list-style-image: none;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0
}

.inline_ul li {
    list-style-image: none;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0
}

.inline_ul li {
    display: inline
}

.inline_ul li+li:before {
    content: "  \2022\00A0"
}

.caps {
    font-family: "ff-meta-serif-web-pro", Georgia, serif;
    font-weight: 500;
    font-style: normal;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";
    border: none;
    letter-spacing: .5px
}

.nav_caps {
    letter-spacing: 1px;
    text-transform: uppercase
}

body {
    color: #404040;
    background: #FFF;
    font-size: 17.5px;
    line-height: 28px;
    max-width: 1090px;
    margin: auto
}

.header_shift_right {
    margin-left: 105px
}

@media only screen and (min-width:760px) {
    .header_shift_right {
        margin-left: 0
    }
}

header {
    margin-left: 55px;
    margin-right: 55px;
    position: relative;
    margin-top: 18.66666667px
}

@media only screen and (min-width:760px) {
    header {
        position: absolute;
        width: 160px
    }
}

@media only screen and (max-width:710px) {
    header {
        width: auto;
        min-width: 202.66666667px;
        margin-left: 7.74647887%;
        margin-right: 7.74647887%
    }
}

header img {
    float: left;
    max-width: 80px;
    margin-bottom: 18.66666667px
}

@media only screen and (min-width:760px) {
    header img {
        float: none;
        max-width: 160px;
        margin-bottom: 3.5px
    }
}

@media only screen and (min-width:760px) {
    header {
        margin-top: 0
    }
}

h1 {
    margin-left: 105px;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    white-space: nowrap;
    margin-bottom: 4.66666667px;
    padding-top: 11.2px
}

@media only screen and (min-width:760px) {
    h1 {
        margin-left: 0
    }
}

@media only screen and (min-width:760px) {
    h1 {
        padding-top: 0
    }
}

header nav {
    margin-left: 105px;
    z-index: 2
}

@media only screen and (min-width:760px) {
    header nav {
        margin-left: 0
    }
}

header nav ul {
    font-size: 15px;
    display: block;
    list-style-image: none;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0
}

header nav ul li {
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap
}

header nav ul li+li:before {
    font-size: 120%
}

header nav ul li {
    list-style-image: none;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0
}

header nav ul li {
    display: inline
}

header nav ul li+li:before {
    content: "  \2022\00A0"
}

@media only screen and (min-width:760px) {
    header nav ul li {
        display: block
    }

    header nav ul li+li:before {
        content: ""
    }
}

article {
    width: auto;
    margin-left: 55px;
    margin-right: 55px;
    max-width: 770px;
    position: relative;
    border-top: 2px solid #666666;
    border-bottom: 2px solid #666666;
    clear: both
}

@media only screen and (min-width:760px) {
    article {
        width: auto;
        margin-left: 265px
    }
}

@media only screen and (max-width:710px) {
    article {
        width: auto;
        min-width: 202.66666667px;
        margin-left: 7.74647887%;
        margin-right: 7.74647887%
    }
}

h2,
p.overview {
    font-size: 25.2px;
    margin: 21px 0 21px
}

h2 a,
p.overview a {
    color: #217f8a
}

h2 a:hover,
p.overview a:hover {
    border: none
}

h2+h2,
p.overview+h2 {
    margin-top: -14px
}

section {
    background: #FFF;
    border-top: 2px solid #666666;
    margin-top: 4px;
    border-bottom: 2px solid #666666;
    margin-bottom: 4px;
    padding: 5.25px 0 10.5px 0
}

section+section {
    border-top: none;
    margin-top: -4px
}

img.figure {
    display: block;
    max-width: 100%;
    margin: 21px 0
}

p {
    margin-bottom: 21px
}

ul li {
    display: list-item;
    list-style-type: square;
    list-style-position: outside;
    margin: 0 0 21px 0
}

ol {
    counter-reset: item
}

ol li {
    counter-increment: item;
    display: list-item;
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0 0 21px 0
}

ol ol {
    margin-left: 3ex
}

ol ol li {
    margin: 0;
    display: block;
    text-indent: -3ex
}

ol ol li:before {
    content: counters(item, ".") " "
}

ol.publications {
    font-size: 17.5px;
    position: relative
}

ol.publications li {
    display: block;
    margin: 0 0 21px 0
}

ol.publications .title a:link,
ol.publications .title a:visited {
    color: #404040
}

ol.publications>li.best_paper:before,
ol.publications>li.best_paper_nominee:before {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 700;
    content: "â˜…";
    color: #be1e2d;
    position: absolute;
    left: -25px
}

ol.publications>li.best_paper_nominee:before {
    content: "â˜†"
}

ol.publications li li.best_paper {
    color: #be1e2d
}

ol.publications li p {
    padding: 0;
    margin: 0;
    text-indent: 0
}

ol.publications .me {
    font-style: italic
}

ol.publications ul {
    display: block;
    list-style-image: none;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0;
    font-family: "ff-meta-serif-web-pro", Georgia, serif;
    font-weight: 500;
    font-style: normal;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";
    border: none;
    letter-spacing: .5px
}

ol.publications ul li {
    list-style-image: none;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0
}

ol.publications ul li {
    display: inline
}

ol.publications ul li+li:before {
    content: "  \2022\00A0"
}

ol.publications ul li+li:before {
    color: #404040;
    position: relative;
    top: 1px
}

a {
    color: #217f8a;
    text-decoration: none
}

a:visited {
    color: #217f8a
}

a:link:hover,
a:visited:hover {
    color: #6D1328;
    border-bottom: 1px dotted #6D1328
}

a:link:focus,
a:visited:focus {
    outline: 1px dotted #1532ab;
    border-width: 0
}

a:link:focus:hover,
a:visited:focus:hover {
    border-width: 1px
}

footer,
footer nav,
footer nav ul {
    font-size: 17.5px;
    line-height: 28px
}

footer {
    width: auto;
    margin-left: 55px;
    margin-right: 55px;
    max-width: 770px;
    background: white;
    color: #666666;
    margin-top: 28px;
    margin-bottom: 28px
}

@media only screen and (min-width:760px) {
    footer {
        width: auto;
        margin-left: 265px
    }
}

@media only screen and (max-width:710px) {
    footer {
        width: auto;
        min-width: 202.66666667px;
        margin-left: 7.74647887%;
        margin-right: 7.74647887%
    }
}

footer aside img {
    float: right;
    border: 2px solid #666666;
    width: 89px;
    height: 112px;
    margin: 0 0 0 28px
}

@media only screen and (min-width:760px) {
    footer aside img {
        float: left;
        margin: 0 28px 0 0
    }
}

footer a,
footer a:visited,
footer a:link:hover,
footer a:visited:hover {
    color: #666666;
    border-color: #666666
}

footer ul,
footer ul li {
    display: block;
    list-style-type: none
}

footer ul {
    line-height: 30px;
    font-size: 25px;
    padding-top: 0;
    padding-bottom: 28px
}

@media only screen and (min-width:760px) {
    footer ul {
        padding-top: -6px
    }
}

footer nav ul {
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom: 0
}

footer p {
    display: block;
    margin-top: -13px
}

footer p img {
    display: block;
    width: 44px;
    height: 13px;
    padding: 0 0 28px
}

li {
    list-style-type: circle;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    text-indent: 0
}

li p {
    padding: 0
}

abbr,
acronym {
    font-family: "ff-meta-serif-web-pro", Georgia, serif;
    font-weight: 500;
    font-style: normal;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";
    border: none;
    letter-spacing: .5px;
    text-decoration: none
}

code {
    font-family: "DejaVu Sans Mono", "Menlo", "Bitstream Vera Sans Mono", "Droid Sans Mono", "Lucida Console", "Lucida Sans Typewriter", "Lucida Sans Mono", monospace
}

strong {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 700;
    font-size: 18.5px
}

.kern_TAE {
    margin-left: -1.75px
}